<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 手機的瀏覽器不要對網頁做任意縮放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Taipei-Trip-台北一日遊</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


</head>
<body>
    <section class=navSection>
        <nav>
            <h1 onclick="location.href='/';" class="navTitle" id="navTitle">台北一日遊</h1>
            <ul class="navBtn">
              <li>預定行程</li>
              <li>登入/註冊</li>
            </ul>
        </nav>
    </section>


    <main class="main-content">
        <p class="member-welcome">您好，{{ name }}，待預定的行程如下</p>


    <section class="cart" id="cart">

    </section>

    </main>

    <footer>
        <div id="footer">
            COPYRIGHT © 2021 台北一日遊   
        </div>
    </footer>
  
    <!-- <script src="{{url_for('static',filename = 'index.js')}}" charset="utf-8"></script> -->
    
    
</body>
</html>