<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 手機的瀏覽器不要對網頁做任意縮放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Taipei-Trip-台北一日遊</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'attraction.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'booking.css')}}">
    

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


</head>
<body onload = "getBookingInfo();">

    
    <section class=navSection>
        <nav>
            <h1 onclick="location.href='/';" class="navTitle" id="navTitle">台北一日遊</h1>
            <ul class="navBtn">
              <li onclick="location.href='/booking';">預定行程</li>
              <li onclick="signin();" class="signin-nav">登入/註冊</li>
              <li onclick="usersignout();" class="signout-nav">登出系統</li>

            </ul>
        </nav>
    </section>
    <div id="popup_overlay" >
    <div class="signin">
        <div class="decoeator-bar"></div>
        <img onclick="closePopup();" src="{{url_for('static',filename = 'img/icon_close.png')}}"  class="icon-close" alt="">
        <div class="main-signin">
          <h3 class="signin-signup-title">登入會員帳號</h3>
          <input type="email" placeholder="輸入電子信箱" name='signinEmail' class="signin-signup-input" id="signinEmail" >
          <input type="password" placeholder="輸入密碼" name='signinPassword' class="signin-signup-input" id="signinPassword" >
          <br>
          <button type="submit" onclick="usersignin();" class="signin-signup-btn">登入帳戶</button>
          <p id="signin-message"></p>
          <p onclick="signup();" class="signin-signup-text">還沒有帳戶？點此註冊</p>
  
        </div>
    </div>


    <div class="signup">
        <div class="decoeator-bar"></div>
        <img onclick="closePopup();" src="{{url_for('static',filename = 'img/icon_close.png')}}"  class="icon-close" alt="">
        <div class="main-signup">
            <h3 class="signin-signup-title">註冊會員帳號</h3>
            <input type="text" placeholder="輸入姓名" name="signupName"  class="signin-signup-input" id="signupName">
            <input type="email" placeholder="輸入電子信箱" name="signupEmail" class="signin-signup-input" id="signupEmail">
            <input type="password" placeholder="輸入密碼" name="signupPassword" class="signin-signup-input" id="signupPassword">
            <br>
            <button type="submit" onclick="usersignup();" class="signin-signup-btn">註冊新帳戶</button>
            <p id="signup-message"></p>
            <p onclick="signin();" class="signin-signup-text">已經有帳戶了？點此登入</p>

        </div>
    </div>


    
    </div>
    
    <hr class="separator" id="navSeparator" />

    <main class="booking-main-content">
        <p class="member-welcome">您好，<span id="member-name"></span>，待預定的行程如下</p>

        <div class="cart" id="cart">
            <section class = "booking-info">
                <div class = "booking-img">
                    <!-- <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D7/E150/F719/71eb4b56-f771-43bc-856c-2fb265a5cc6e.jpg" alt=""> -->
                </div>
        
                <div class = "booking-form">
                    <div class="delete-img">
                        <img onclick="deleteBooking();" src="{{url_for('static',filename = 'img/icon_delete.png')}}"  class="icon-delete" alt="">
                    </div>
  
                    <h2 class="booking-title">台北一日遊：<span id="booking-title"></span></h2>
                    <p class="booking-detail">日期：<span class="booking-detail-info" id="booking-date"></span></p>
                    <p class="booking-detail">時間：<span class="booking-detail-info" id="booking-time"></span></p>
                    <p class="booking-detail">費用：<span class="booking-detail-info" id="booking-fee"></span></p>
                    <p class="booking-detail">地點：<span class="booking-detail-info" id="booking-address"></span></p>

                </div>
            </section>

        

        <hr class="separator" id="mainSeparator" />

        <section class="contact-pmt-form">
            <h2 class="contact-title">您的聯絡資訊</h2>
            <p class="contact-pmt-detail">聯絡姓名：<input type="text" id="contact-name" class="booking-input"></p>
            <p class="contact-pmt-detail">連絡信箱：<input type="email" id="contact-email" class="booking-input"></p>
            <p class="contact-pmt-detail">手機號碼：<input type="text" id="contact-number" class="booking-input"></p>
            <p class="contact-notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>

        </section>

        <hr class="separator" id="mainSeparator" />
<!-- 
        <section class="contact-pmt-form">
            <h2 class="payment-title">信用卡付款資訊</h2>
            <p class="contact-pmt-detail">卡片號碼：<input type="number" class="booking-input"></p>
            <p class="contact-pmt-detail">過期時間：<input type="text" class="booking-input"></p>
            <p class="contact-pmt-detail">驗證密碼：<input type="number" class="booking-input"></p>

        </section>

        <hr class="separator" id="mainSeparator" /> -->

        <section class="confirm-form">
            <div class="total-price">總價：新台幣 <span id="total-price"></span> 元</div>
            <button onclick="confirmBooking();" class="confirmPayBtn">確認訂購</button>
        </section>

        </div>
    </main>

    <footer>
        <div id="footer">
            COPYRIGHT © 2021 台北一日遊   
        </div>
    </footer>
  

    <script src="{{url_for('static',filename = 'login.js')}}" charset="utf-8"></script>
    <!-- <script src="{{url_for('static',filename = 'attraction.js')}}" charset="utf-8"></script> -->
    <script src="{{url_for('static',filename = 'booking.js')}}" charset="utf-8"></script>


    
    
</body>
</html>