<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 手機的瀏覽器不要對網頁做任意縮放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Taipei-Trip-台北一日遊</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


</head>
<body>
    <section class=navSection>
        <nav>
            <h1 onclick="location.href='/';" class="navTitle" id="navTitle">台北一日遊</h1>
            <ul class="navBtn">
              <li>預定行程</li>
              <li onclick="signin();" class="signinsignup">登入/註冊</li>
            </ul>
        </nav>
    </section>

    <section class="signin">
        <div class="decoeator-bar"></div>
        <img onclick="closePopup();" src="{{url_for('static',filename = 'img/icon_close.png')}}"  class="icon-close" alt="">
        <form action='/api/user' method="PATCH" class="main-signin">
          <h3 class="signin-signup-title">登入會員帳號</h3>
          <input type="email" placeholder="輸入電子信箱" name='signinEmail' class="signin-signup-input" id="signinEmail" >
          <input type="password" placeholder="輸入密碼" name='signinPassword' class="signin-signup-input" id="signinPassword" >
          <br>
          <button type="submit" onclick="usersignin();" class="signin-signup-btn">登入帳戶</button>
          <p class="signin-message"></p>
          <p onclick="signup();" class="signin-signup-text">還沒有帳戶？點此註冊</p>
  
        </form>
      </section>

      <section class="pop-up">
        <div class="signup">
            <div class="decoeator-bar"></div>
            <img onclick="closePopup();" src="{{url_for('static',filename = 'img/icon_close.png')}}"  class="icon-close" alt="">
            <form action='/api/user' method="POST" class="main-signup">
              <h3 class="signin-signup-title">註冊會員帳號</h3>
              <input type="text" placeholder="輸入姓名" name="signupName"  class="signin-signup-input" id="signupName">
              <input type="email" placeholder="輸入電子信箱" name="signupEmail" class="signin-signup-input" id="signupEmail">
              <input type="password" placeholder="輸入密碼" name="signupPassword" class="signin-signup-input" id="signupPassword">
              <br>
              <button type="submit" onclick="usersignup();" class="signin-signup-btn">註冊新帳戶</button>
              <p class="signup-message"></p>
              <p onclick="signin();" class="signin-signup-text">已經有帳戶了？點此登入</p>
      
            </form>
        </div>
      </section>

    

    <main class="main-content">

    <section class="hero">
        <div class="slogan-search-container">
        <div class="slogan-container">
            <h2 class="slogan" id="slogan1">輕鬆享受台北一日悠閒</h2>
            <p class="slogan" id="slogan2">探索每個角落，體驗城市的深度旅遊行程</p>
        </div>
        <div class="search-container">
            <form action="/" class="search-form" id="searchForm">
                <input type="text" placeholder="輸入景點名稱查詢" class="search-input" id="keyword">
                <button type="submit" onClick='click' class="search-btn"  id="search-btn">
                    <img id ="search-img" src="{{url_for('static',filename = 'img/icon_search.png')}}" alt="">
                    
                </button>
            </form>
        </div>
        </div>
        <img id ="memorialＨall" src="{{url_for('static',filename = 'img/welcome.png')}}" alt=""> 

        
    </section>

    <section class="attractions" id="attractions">

    </section>

    </main>

    <footer>
        <div id="footer">
            COPYRIGHT © 2021 台北一日遊   
        </div>
    </footer>
  
    <script src="{{url_for('static',filename = 'index.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static',filename = 'login.js')}}" charset="utf-8"></script>

    
</body>
</html>