<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei-Trip-台北一日遊</title>
</head>
<body>
    <nav>
        <h1 class="logo">台北一日遊</h1>
        <ul class="nav-links">
          <li>預定行程</li>
          <li>登入/註冊</li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-container">
            <h2>輕鬆享受台北一日悠閒</h2>
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
            <form action="/" class="search-form" id="searchForm">
                <input type="text" class="search-input" id="searchInput">
                <button class="search-btn" id="searchBtn">
                    <img src="../static/img/icon_search.png" alt="">
                </button>
            
            </form>
            <img src="../static/img/welcome.png" alt=""> 
        </div>
    </section>

    <section class="attractions" id="attractions">

    </section>
    <script src="script.js" charset="utf-8"></script>
    </div>







    
</body>
</html>